<aside class="sidebar order-1 order-md-2">
    <div class="sidebar-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
            <input type="text" id="search" class="form-control" placeholder="Search ..." />
        </div>
        <div id="searchList"></div>
        <hr>
        <div class="posts-wrapper d-none d-md-block">
            <h3>Posts</h3>
            <div id="postList"></div>
        </div>
        <a id="show-all-posts" href="javascript:;" class="btn btn-light btn-block">Show all posts</a>
    </div>
</aside>
