body {
  background-color: #f5f5f5;
}

a {
  color: #0da58e;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border: 0;
  border-left: 5px solid #eee;
  background-color: #FFF6D5;
  border-left-color: #F3E3AA;
  text-align: left;
}
blockquote p:before, blockquote p:after{
  display: none;
}
blockquote a, blockquote a:visited {
  color: #0da58e;
}

.site-wrapper {
  margin: 35px 0px 0px 0px;
}

.navbar {
  padding: 10px 0px;
  margin-bottom: 0;
  background-color: #444444;
  border-color: #333333;
  border-top: 1px solid;
}
.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-brand img {
	box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);
	margin: 0px;
	width: 30px;
}

.section-hero {
  color: #ffffff;
  margin: 0;
  background-image: url(../img/hero-bg.svg);
  background-position: 0% 69%;
  background-size: cover;
  padding: 23px 0px;
}
.section-hero h2 {
  margin: 0px 0px 10px 0px;
}
.section-hero h4 {
  margin: 0px;
}

.btn-hg {
  font-weight: 100;
  padding: 22px 33px;
  font-size: 24px;
  white-space: initial;
  border-radius: 8px;
}
.btn-signup-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), 0 0px 3px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(0deg, #0da58e 0%, #0da58e 100%) !important;
  border-radius: 100px;
  font-size: 20px;
}
.btn-signup-shadow .fa {
  width: 16px;
  height: 16px;
  font-size: 70%;
}
.btn-signup-shadow-footer {
  text-align: center;
  margin-bottom: -75px;
  margin-top: 35px;
}
.btn-signup-shadow-footer .btn-signup-shadow {
  margin-top: 0px;
}
.btn-primary {
  background-image: linear-gradient(0deg, #179C99 0%, #18B79C 100%);
  border-color: #18A19A;
}
.btn-primary:hover {
  border-color: #18A19A;
}
.btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), 0 0px 3px rgba(0, 0, 0, 0.05);
}

.input-group-addon {
  background-color: transparent;
}
.twitter-typeahead {
  display: block !important;
}

.docs-box {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), 0 0px 3px rgba(0, 0, 0, 0.05);
}
.docs-box h1 {
  margin: 0px;
  font-size: 30px;
  font-weight: 600;
}
.docs-box h2 {
  margin: 0px;
  font-size: 28px;
  font-weight: 600;
}
.docs-box > hr {
  margin: 30px 0px;
  border-top: 1px solid #ddd;
}
.docs-box img {
  max-width: 100%;
}
.docs-box .latestPosts {
  margin-top: 30px;
}
.docs-box .post {
  display: block;
  margin-bottom: 25px;
}
.docs-box .post:last-child {
  margin-bottom: 0px;
}
.docs-box .post .post-title {
  color: #0da58e;
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.docs-box .post-author {
  text-align: right;
  margin-bottom: 30px;
  font-style: italic;
  margin-top: -10px;
  font-weight: 300;
  font-size: 11px;
}

.docs-post h2 {
  margin: 40px 0px 10px 0px;
}
.docs-post p {
  margin-top: 0px !important;
}
.docs-post h5 {
  margin-bottom: 30px;
}
.docs-post img {
  margin-top:20px;
  margin-bottom:20px;
}

#postList ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#postList ul span {
  margin-top: 15px;
  display: inline-block;
}
#postList ul span:first-child {
  margin-top: 5px;
}
#postList ul li {
  padding: 2px 0px;
}
#postList ul li a {
  font-size: 12px;
  color: #333;
}

#show-all-posts {
  margin-top: 20px;
}

#searchList ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#searchList ul li {
  padding: 2px 0px;
}
#searchList ul li a {
  font-size: 12px;
  color: #333;
}


pre {
  padding: 0;
  margin: 20px 0 20px 0;
  word-break: break-all;
  word-wrap: break-word;
  background-color: transparent;
  border: 0;
  position: relative;
}
pre .label {
  position: absolute;
  top: 0;
  left: 0;
}
pre code {
  border: 1px solid #CFCFCF;
  background-color: #fff;
}
.hljs {
  padding: 20px;
  border-radius: 4px;
}
.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #034482;
  font-weight: bold;
}
.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #0da58e;
}
code.powershell.hljs {
  background-color: #333;
  color: #fff;
  border-color: #333;
}


footer.section {
  padding: 80px 0px 35px 0px;
  background-color: #444;
  color: #929292;
  margin-top: 40px;
  border-top: 3px solid #0da58e;
}
footer.section h5 {
  color: #fff;
}
footer.section a {
  color: #929292;
}
footer.section .list-dots li:after {
  content: "·";
  padding-left: 10px;
}
footer.section .list-dots li:last-child:after {
  content: "";
  padding-left: 0px;
}
footer.section hr {
  border-top-color: #929292;
}
footer.section hr.hr-inline {
  margin-top: -31px;
  margin-bottom: 40px;
}
footer.section .share-bar {
  margin-top: 20px;
  margin-bottom: 30px;
}
footer.section .btn-share {
  font-size: 18px;
  border: 1px solid;
  border-radius: 60px;
  color: #fff;
  width: 40px;
  background-color: #444;
  box-shadow: 0 0 0 11px #444;
  padding: 11px;
  line-height: 12px;
}
footer.section .btn-share .fa {
  width: 15px;
  height: 17px;
}
footer.section .btn-share:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22), 0 0 0 11px #444;
}
footer.section .btn-share.shareTwitter:hover {
  background-color: #23b0e6;
}
footer.section .btn-share.shareFacebook:hover {
  background-color: #48629b;
}
footer.section .btn-share.shareGoogle:hover {
  background-color: #c11e10;
}
footer.section .btn-share.shareLinkedin:hover {
  background-color: #0e76a9;
}
footer.section a:hover,
footer.section a:focus,
footer.section a.btn:hover,
footer.section a.btn:focus {
  color: #fff;
  text-decoration: none;
}

/* Author page */
.author-header-content {
  margin: -40px;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
}
.post-feed h2 {
  margin-bottom: 30px;
}
.author-header-content .author-cover-image {
  height: 300px;
  background: 50% no-repeat #fafafa;
  background-size: cover;
}
.author-profile {
  text-align: center;
  padding: 40px;
}
.author-profile .author-profile-image {
  width: 150px;
  border-radius: 50%;
  border: 8px solid #f8f8f8;
  margin: 0 0 10px;
}
.author-profile h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.author-profile h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0px auto 20px auto;
  max-width: 500px;
  line-height: 22px;
}
.author-profile .author-meta {
  text-align: center;
}
.author-profile .author-meta .author-location,
.author-profile .author-meta .author-stats,
.author-profile .author-meta .social-link {
  display: inline-block;
}
.author-profile .author-meta .bull {
  display: inline-block;
  margin: 0 8px;
  opacity: .5;
}
.post-feed {
  margin-top: 40px;
  padding-top: 40px;
}


@media screen and (max-width: 991px) {
	.sidebar-wrapper {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 0px;
  }
  .navbar-inverse .navbar-collapse {
  	background: #17A79A;
  }
}
