@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
	background: #f5f5f5;
	font-family: 'Lato', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
a {
    color: #0da58e;
    text-decoration: none;
}
a:hover,
a:focus {
	color: #075e51;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

a[data-fancybox] img {
	cursor: zoom-in;
}

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	border: 0;
	border-left: 5px solid #eee;
	background-color: #FFF6D5;
	border-left-color: #F3E3AA;
	text-align: left;
}
blockquote p:before, blockquote p:after{
	display: none;
}
blockquote p:last-child {
    margin: 0px;
}
blockquote a, blockquote a:visited {
	color: #0da58e;
}

.btn-primary {
	background: linear-gradient(0deg, #179C99 0%, #18B79C 100%);
	border-color: #18A19A;
	box-shadow: none !important;
}
.btn-primary:hover,
.btn-primary:focus {
	background: linear-gradient(0deg, #179C99 0%, #179C99 100%);
	border-color: #18A19A;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
	background: linear-gradient(0deg, #179C99 0%, #179C99 100%);
	border-color: #18A19A;
}

.btn-outline-light {
	box-shadow: none !important;
}
.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active {
	box-shadow: none;
	color: #212529;
    background-color: #f8f9fa;
    text-decoration: none;
}

.btn-hg {
	font-weight: 100;
	padding: 12px 20px;
	font-size: 24px;
	white-space: initial;
	border-radius: 8px;
}
.btn:active {
    transform: translateY(1px);
}
.btn-signup-shadow {
	width: 300px;
	max-width: 300px;
	background: #fc6076;
    background-image: linear-gradient(-20deg,#fc6076 0%,#ff9a44 100%) !important;
    border-color: rgba(252,96,118,.5) !important;
	color: #ffffff !important;
   	box-shadow: 0 10px 14px -7px rgba(0,0,0,.3) !important;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none !important;
}
.btn-signup-shadow span {
    display: block;
    font-size: 24px;
    font-weight: 600;
}
.btn-signup-shadow span.info {
    font-size: 14px;
    font-weight: 400;
}

.navbar {
	padding: 14px 0px;
	margin-bottom: 0px;
}
.navbar.bg-dark {
	background: #444 !important;
}
.navbar-brand {
	line-height: 20px;
}
.navbar-brand img {
	width: 30px;
}
.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
	padding: 10px 15px;
}
.navbar-signin {
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar-signin li {
	display: inline-block;
}
.navbar-signin li a,
.navbar-signin li span.navbar-text {
	padding: 10px;
	color: #ffffff;
}

.btn-signup-trial {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}

.btn-signup-trial:hover,.btn-signup-trial:focus,.btn-signup-trial:active {
    box-shadow: none;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    text-decoration: none;
}

.dark-mode .btn-signup-trial {
    background: #ff9a44;
    color: #fff;
    border: 1px solid #fc6076;
    background-image: linear-gradient(-20deg,#fc6076 0%,#ff9a44 100%);
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.dark-mode .btn-signup-trial:after {
	background: #fff;
    content: "";
    height: 155px;
    left: -80px;
    opacity: .25;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    animation-name: try-btn-animation;
    animation-duration: 12s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    box-shadow: 0 0 7px 7px #fff;
}

@keyframes try-btn-animation {
    0% {
        left: -90px
    }
    10% {
        left: 110px
    }
    to {
        left: 110px
    }
}

.dark-mode .btn-signup-trial:hover,.dark-mode .btn-signup-trial:focus,.dark-mode .btn-signup-trial:active {
    color: #fff;
    background: #ff9a44;
    box-shadow: none;
    text-decoration: none;
    background-image: linear-gradient(-20deg,#ff9a44 0%,#fc6076 100%);
    text-decoration: none;
}

.section-hero {
	color: #ffffff;
	margin: 0;
	background-image: url(../img/hero-bg.svg);
	background-position: 0% 69%;
	background-size: cover;
	padding: 23px 0px;
}
.section-hero h2 {
	margin: 0px 0px 10px 0px;
	font-weight: 500;
	font-size: 30px;
}
.section-hero h4 {
	margin: 0px;
	font-weight: 500;
	font-size: 18px;
}
.section-hero .t-shirt {
	width: 96px;
}
.section-hero .col-signup {
	-ms-flex: 0 0 350px;
    flex: 0 0 350px;
}

.sidebar-body, .main-content-body {
	min-height: 300px;
}
.sidebar-body {
	width: 300px;
    padding: 0px 15px;
    height: 100%;
}
.sidebar-body .input-group {
	box-shadow: 1px 2px 5px 0 rgba(52,40,22,.04), 0 1px 2px 0 rgba(53,40,22,.04);
    border-radius: 5px;
    background: #fff;
}
.sidebar-body .input-group-text {
	background: #fff;
	border: none;
	padding: 16px 15px;
	box-shadow: -1px 0px 0px rgba(52,40,22,.1) inset;
}
.sidebar-body .input-group-text i {
	position: relative;
	top: 1px;
}
.sidebar-body .input-group .form-control {
    border: none;
    padding: 12px 15px;
    height: auto;
    box-shadow: none !important;
}
.sidebar-body .input-group .input-group-prepend {
    margin-right: 0px;
}
#searchList h3 {
	position: relative;
    display: block;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .12s ease-out;
}
#searchList ul {
	padding: 0;
	margin: 0;
	list-style: none;
	padding: 15px;
    border: 1px solid rgba(52,40,22,.1);
    background: #fff;
}
#searchList ul li {
  	padding: 4px 0px;
}
#searchList ul li a {
  	position: relative;
	display: block;
	padding: 0px;
	font-size: 13px;
	font-weight: 600;
	color: rgba(87,87,87,.8);
	transition: color .12s ease-out;
	text-decoration: none;
	text-transform: none;
}
#searchList ul li a:hover {
	color: #333333;
}
.posts-wrapper {
	background: #fff;
    padding: 15px;
    box-shadow: 1px 2px 5px 0 rgba(52,40,22,.04), 0 1px 2px 0 rgba(53,40,22,.04);
    border-radius: 5px;
    margin-top: 30px;
}
.posts-wrapper h3 {
	font-weight: 600;
    font-size: 18px;
    padding: 15px 20px;
    margin: -10px -15px 15px;
    border-bottom: 1px solid #eae9e7;
    color: #444;
}
.main-nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.main-nav li > a {
	position: relative;
    display: block;
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .12s ease-out;
}
ul.post-links {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.post-links > li {
	padding: 4px 0px;
}
ul.post-links > li > a {
	position: relative;
    display: block;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: 600;
    color: rgba(87,87,87,.8);
    transition: color .12s ease-out;
    text-decoration: none;
    text-transform: none;
}
ul.post-links > li > a:hover {
	color: #333333;
}
ul.post-links > li.active > a {
    color: #000000;
}
ul.post-links > li.active > a:before {
    position: absolute;
    top: 0;
    left: -15px;
    background: #0da58e;
    content: '';
    height: 100%;
    width: 2px;
}
#show-all-posts {
	padding: 10px;
	margin-top: 30px;
	box-shadow: 1px 2px 5px 0 rgba(52,40,22,.04), 0 1px 2px 0 rgba(53,40,22,.04) !important;
	border: none;
}
.main-nav .mCSB_scrollTools .mCSB_draggerRail {
	background-color: #ddd;
}
.main-nav .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #999999;
}

.main-content {
	max-width: calc(100% - 300px);
}
.main-content-body {
    background: #ffffff;
    padding: 30px;
    box-shadow: 1px 2px 5px 0 rgba(52,40,22,.04), 0 1px 2px 0 rgba(53,40,22,.04);
    border-radius: 5px;
}
.main-content-body h1 {
	margin-bottom: 30px;
	word-wrap: break-word;
}
.main-content-body h1:after {
	content: "";
    display: block;
    border-bottom: 1px solid #dddddd;
    margin-top: 20px;
}
.main-content-body img {
    max-width: 100%;
}
.main-content-body pre {
	padding: 0;
	margin: 20px 0 20px 0;
	word-break: break-all;
	word-wrap: break-word;
	background-color: transparent;
	border: 0;
	position: relative;
}
.main-content-body pre .label {
	position: absolute;
	top: 0;
	left: 0;
}
.main-content-body pre code {
	border: 1px solid #CFCFCF;
	background-color: #fff;
}

pre {
	padding: 0;
	margin: 20px 0 20px 0;
	word-break: break-all;
	word-wrap: break-word;
	background-color: transparent;
	border: 0;
	position: relative;
}
pre .label {
	position: absolute;
	top: 0;
	left: 0;
}
pre code {
	border: 1px solid #CFCFCF;
	background-color: #fff;
}
.hljs {
	padding: 20px;
	border-radius: 4px;
}
.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
	color: #034482;
	font-weight: bold;
}
.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
	color: #0da58e;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
code.powershell.hljs {
	background-color: #333;
	color: #fff;
	border-color: #333;
}

.pre-footer {
	margin-top: 100px;
	height: 93px;
	background: #333;
	padding: 12px 0px;
}
.pre-footer .container {
	position: relative;
}
.pre-footer .company-logo {
	position: absolute;
	left: 10px;
	top: -82px;
}
.pre-footer img {
	width: 222px;
}

footer .btn {
	width: 222px;
	outline: none;
}
footer .btn span {
	font-size: 22px;
	display: block;
	font-weight: 600;
}
footer .btn span.info {
	font-size: 14px;
	font-weight: 400;
}
footer .btn.btn-primary {
	background-color: #0da58e;
    border-color: #0da58e;
    color: #ffffff !important;
    text-decoration: none !important;
}
footer .btn.btn-primary:hover {
    background-color: #0d917d;
    border-color: #0d917d;
}

footer .links {
	padding: 46px 0px 30px 0px;
	background: #393939;
}
footer .links h5 {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 15px;
}
footer .links ul li a {
	color: #929292;
	font-size: 16px;
}
footer .social {
	text-align: center;
}
footer .social li a {
	width: 40px;
    height: 40px;
    background: rgba(255,255,255,.05);
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    line-height: 38px;
    border: 1px solid rgba(255,255,255,.05);
    margin: 0;
}
footer .social li a:hover {
    background: rgba(255,255,255,.1);
}

footer .copyright {
	padding: 15px 0px;
	background: #242424;
}
footer .copyright p {
	font-size: 14px;
	margin: 0px;
	color: #666;
}
footer .copyright a {
	color: #999;
}

footer .footer-badges img {
	margin: 0px 3px;
	height: 40px;
}
footer .footer-badges img:last-child {
	margin-right: 0px;
}


.docs-box h2 {
  margin: 0px;
  font-size: 28px;
  font-weight: 600;
}
.docs-box h3 {
  font-size: 26px;
}
.docs-box > hr {
  margin: 30px 0px;
  border-top: 1px solid #ddd;
}
.docs-box img {
  max-width: 100%;
}
.docs-box .latestPosts {
  margin-top: 30px;
}
.docs-box .post {
  display: block;
  margin-bottom: 25px;
}
.docs-box .post:last-child {
  margin-bottom: 0px;
}
.docs-box .post .post-title {
  color: #0da58e;
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.docs-box .post-author {
  text-align: right;
  margin-bottom: 30px;
  font-style: italic;
  margin-top: -15px;
  font-weight: 400;
  font-size: 12px;
}

.docs-post h2 {
  margin: 40px 0px 10px 0px;
}
.docs-post p {
  margin-top: 0px !important;
}
.docs-post h5 {
  margin-bottom: 30px;
}
.docs-post img {
  margin-top:20px;
  margin-bottom:20px;
}

/* Author page */
.author-header-content {
	margin: -30px;
	background: #f8f8f8;
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.author-header-content h1:after {
	border: none;
}
.post-feed h2 {
  margin-bottom: 30px;
}
.author-header-content .author-cover-image {
	height: 300px;
	background: 50% no-repeat #fafafa;
	background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.author-profile {
  text-align: center;
  padding: 30px;
}
.author-profile .author-profile-image {
  width: 150px;
  border-radius: 50%;
  border: 8px solid #f8f8f8;
  margin: 0 0 10px;
  box-shadow: none;
}
.author-profile h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.author-profile h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0px auto 20px auto;
  max-width: 500px;
  line-height: 22px;
}
.author-profile .author-meta {
  text-align: center;
}
.author-profile .author-meta .author-location,
.author-profile .author-meta .author-stats,
.author-profile .author-meta .social-link {
  display: inline-block;
}
.author-profile .author-meta .social-link {
	margin: 0px 2px;
}
.author-profile .author-meta .bull {
  display: inline-block;
  margin: 0 8px;
  opacity: .5;
}
.post-feed {
  margin-top: 30px;
  padding-top: 30px;
}

.pagination {
	padding-top: 15px;
}
.pagination a.newer-posts {
	margin-right: 15px;
}
.pagination a.older-posts {
	margin-left: 15px;
}

.mc-modal {
	bottom: 100px !important;
}

.section.section-features {
    text-align: center;
}

.section.section-features img {
	margin: 0px;
}

.section.section-features .section-body h3 {
    font-size: 14px;
    margin-bottom: 20px;
}

.section.section-features .section-body p {
    font-size: 12px;
    margin-bottom: 20px;
}

.progress-bar {
	background-color: #0da58e;
	height: 4px;
	position: fixed;
	top: 72px;
	bottom: 0;
	z-index: 999;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

@media (max-width: 991px) {
	.navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	footer .footer-badges {
		margin-bottom: 15px;
	}
	footer .social {
		margin-top: 15px;
	}
}

@media screen and (max-width: 767px) {
	.navbar-signin {
		padding: 5px;
	}
	.navbar-signin li.hidden-xs {
		display: none;
	}
	.container {
		max-width: 100%;
	}
	.navbar .navbar-collapse {
		background: #444;
		margin: 15px -15px -15px -15px;
		border-top: 1px solid #555;
	}
	.navbar-nav-btn {
	    padding: 10px 15px;
	}
	.sidebar {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.sidebar .sidebar-body {
		width: 100%;
	}
	.main-nav {
		height: 100%;
	}
	.main-content {
	    max-width: 100%;
	    flex-basis: 100%;
	}
	.sidebar-body, .main-content-body {
	    min-height: auto;
	}
	.progress-bar {
		top: 68px;
	}
	#show-all-posts,
	#blog-posts {
		margin-top: 0px;
	}
}

@media screen and (max-width: 576px) {
	.pre-footer {
	    margin-top: 0px;
	    height: auto;
	    padding: 0px 0px 15px 0px;
	    text-align: center;
	}
	.pre-footer .company-logo {
	    position: relative;
	    left: initial;
	    top: initial;
	}
	.pre-footer .company-logo img {
		width: 150px;
		margin-bottom: 15px;
	}
	.pre-footer .btn.float-right {
		float: none!important;
		width: 100%;
		max-width: 320px;
	}
}

.navbar.breadcrumb-bar {
	padding: 0px 0px 30px 0px;
}
.navbar.breadcrumb-bar nav {
	width: 100%;
	box-shadow: 1px 2px 5px 0 rgba(52,40,22,.04), 0 1px 2px 0 rgba(53,40,22,.04);
    border-radius: 5px;
}
.navbar.breadcrumb-bar nav ol {
	background: #fff;
}
.navbar.breadcrumb-bar nav ol .breadcrumb-item {
	padding: 0px 10px;
}
.navbar.breadcrumb-bar nav ol .breadcrumb-item+.breadcrumb-item::before {
    display: none;
}
.navbar.breadcrumb-bar nav ol .breadcrumb-item {
	font-weight: 600;
}
.navbar.breadcrumb-bar nav ol .breadcrumb-first {
	position: relative;
	margin: -12px 25px -12px -16px;
    padding: 12px 20px;
    color: #fff;
    background: #444;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.navbar.breadcrumb-bar nav ol .breadcrumb-first::after {
	content: '';
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    border: 24px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
    z-index: 2;
    border-left-color: #444;
}
.navbar.breadcrumb-bar nav ol .breadcrumb-first a {
	color: #fff;
}

.index-content-body .card-deck {
	margin-right: -10px;
    margin-left: -10px;
}

.index-content-body .card-deck .card {
    -ms-flex: 1 0 calc(33% - 20px);
	flex: 1 0 calc(33% - 20px);
	margin: 0px 10px 20px 10px;
    border: none;
	background: #ffffff;
	box-shadow: 1px 2px 5px 0 rgba(52,40,22,.04), 0 1px 2px 0 rgba(53,40,22,.04);
    border-radius: 5px;
}

.index-content-body .card-deck .card .card-header {
    background: #18a099 url(../img/hero-bg.svg) no-repeat;
	background-position: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: none;
	padding: 15px 20px;
}

.index-content-body .card-deck .card .card-header .post-title a {
	display: block;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
}

.index-content-body .card-deck .card .card-body {
	padding: 20px;
}

.index-content-body .card-deck .card .card-body .post-excerpt p {
	margin-bottom: 0px;
	font-size: 14px;
}

.index-content-body .card-deck .card .card-footer {
    background: none;
	border-top: 1px solid #fafafa;
	padding: 15px 20px;
}

.index-content-body .card-deck .card .card-footer .post-card-meta .post-author {
	position: relative;
}

.index-content-body .card-deck .card .card-footer .post-card-meta .post-author img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	float: left;
	position: relative;
	top: -2px;
}

.index-content-body .card-deck .card .card-footer .post-card-meta .post-author span {
	display: block;
	padding-left: 35px;
}
.index-content-body .card-deck .card .card-footer .post-card-meta .post-author .author {
	font-weight: 600;
	font-size: 14px;
}
.index-content-body .card-deck .card .card-footer .post-card-meta .post-author .date {
	font-size: 12px;
	color: rgba(87, 87, 87, 0.8);
}

.embed-responsive {
	margin: 20px 0px;
	max-width: 560px;
}
.embed-responsive-item {
	max-width: 560px;
	margin: 0 auto;
}

@media(max-width: 1199px) {
	.index-content-body .card-deck .card {
        -ms-flex: 1 0 calc(50% - 20px);
        flex: 1 0 calc(50% - 20px)
    }
}

.inside-post {
	margin: 40px -30px 30px -30px;
	border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    background: #fbfbfb;
    position: relative;
    padding: 0px 20px;
}
.inside-post a {
	display: block;
	color: #0da58e;
    text-decoration: none;
	padding: 15px;
}
.inside-post a > p {
	color: rgba(87,87,87,0.8);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.posts-navigation {
	margin: 40px -30px 30px -30px;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	background: #fbfbfb;
	position: relative;
}
.posts-navigation::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 50%;
	height: 100%;
	width: 1px;
	border-left: 1px dashed #ddd;
}
.posts-navigation .col i {
    color: rgba(87,87,87,0.8);
	display: inline;
	vertical-align: middle;
	font-size: 14px;
}
.posts-navigation .col span {
	color: rgba(87,87,87,0.8);
	font-size: 14px;
    font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}
.posts-navigation .previous-nav i {
	margin-right: 5px;
}
.posts-navigation .next-nav {
	text-align: right;
}
.posts-navigation .next-nav i {
	margin-left: 5px;
}
.posts-navigation a {
	display: block;
	color: #0da58e;
	text-decoration: none;
	padding: 15px;
}
.posts-navigation .article {
	margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

.our-newsletter .content {
	padding: 5px;

}
.our-newsletter .content p {
	font-size: 14px;
}
.our-newsletter .content p img {
    width: 80px;
    float: right;
    margin-left: 10px;
    margin-right: -8px;
}
.our-newsletter .input-group .form-control {
	box-shadow: none;
	padding: .375rem .75rem;
	font-size: 14px;
}
.our-newsletter .btn {
    color: #fff;
    text-decoration: none;
    line-height: normal;
    padding: 6px 12px;
    border: none;
    font-size: 14px;
    margin: 2px;
}
.our-newsletter .input-group {
	border: 1px solid #eae9e7;
	margin-bottom: 5px;
	box-shadow: none;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.sticky-sidebar {
	position: sticky;
	top: 102px;
}

#blog-quote {
	background-color: #ffffff;
    background-image: -webkit-linear-gradient( -55deg, #fafafa 0%, #fafafa 50%, #ffffff 50%, #ffffff 50%);
	background-image: linear-gradient( -55deg, #fafafa 0%, #fafafa 50%, #ffffff 50%, #ffffff 50%);
	text-align: center;
}
#blog-quote a {
	color: #212529;
	text-decoration: none;
}
.quote-symbol {
	margin-top: 3px;
	margin-bottom: 15px;
}
.quote-symbol i {
	color: #0da58e;
	font-size: 21px;
}
.main-quote {
	margin: 20px 0px;
}
.main-quote p {
	font-style: italic;
}
.author-quote h4 {
	font-size: 16px;
}
.author-quote h5 {
	font-size: 12px;
	color: #575757;
}
.author-quote img {
	margin: 5px 0px;
	width: 80px;
	border-radius: 100%;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 0px 2px #0da58e;
}

@media screen and (max-width: 576px) {
	.posts-navigation .col i {
		display: none;
	}
}

.accordion {
	margin-top: 20px;
}
.accordion .card {
    margin-bottom: 10px;
    box-shadow: 0 2px 5px -2px rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.accordion .card .card-header {
    padding: 1rem 1.25rem;
    background: #fff
}
.accordion .card .card-header h4 {
    font-size: 16px;
    font-weight: 600;
    padding-right: 30px;
    cursor: pointer;
    position: relative;
}
.accordion .card .card-header h4:after {
    content: "";
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    position: absolute;
    top: 0;
    right: 0;
}
.accordion .card .card-header h4.collapsed:after {
    content: ""
}
.accordion .card .card-body {
    background: #f8f9fa
}
.accordion .card .card-body p {
    font-size: 16px
}

.jqGifImageFooter {
	display: none !important;
}

/* Table Of Contents */
.toc {
	padding: 15px 20px;
    background: #f5f5f5;
    border: 1px solid #dcdcdc;
    margin-bottom: 30px;
    display: none;
    border-left: 3px solid #0da58e;
    max-width: 400px;
    width: 100%;
}
.toc-header {
	display: flex;
	align-items: center;
}
.toc-header button {
	margin-left: auto;
    font-size: 12px;
    height: 29px;
}
.toc h2 {
	font-size: 16px;
	margin: 0px;
	height: 29px;
	line-height: 28px;
}
.toc ul {
	list-style: none;
	margin: 10px 0px 0px 0px;
	display: none;
}
.toc > ul,
.toc > ul > li > ul {
	padding: 0px;
}
.toc li ul {
	padding: 0px 0px 0px 30px;
}
.toc li a {
	color: #222;
	font-size: 15px;
}
.toc li.child a {
	color: #222;
	font-size: 15px;
	margin-left: 20px;
}

/* Console hljs - CMD */
.cmd {
	border: 1px solid #000;
	margin: 20px 0 20px 0;
	background: #000;
}
.cmd .cmd-bar {
	display: flex;
	background: #eee;
	padding: 8px 12px;
}
.cmd .cmd-bar .cmd-buttons {
	margin-left: auto;
	cursor: pointer;
}
.cmd .cmd-bar .cmd-buttons i {
	margin: 0 12px;
	font-size: 14px;
}
.cmd .cmd-bar .cmd-buttons i:last-child {
	margin-right: 0;
}
.cmd .cmd-bar .cmd-title {
	display: flex;
	align-items: center;
}
.cmd .cmd-bar .cmd-title i {
	font-size: 10px;
    margin-right: 5px;
    background: #000;
    padding: 3px 4px;
    color: #fff;
    height: 15px;
    border-radius: 2px;
}
.cmd .pre-console {
	margin: 0;
}
.cmd .pre-console code {
	border: 0;
	background: transparent;
	color: #ddd;
}
.cmd .pre-console code * {
	color: #ddd;
	font-weight: 400 !important;
	font-style: normal !important;
}


.kg-width-full img,
.kg-width-wide img{
    // required by gcsan to properly validate the theme
}
.kg-gallery-container figcaption {
	// required by gcsan to properly validate the theme
}
.kg-gallery-row figcaption {
	// required by gcsan to properly validate the theme
}
.kg-gallery-image figcaption {
	// required by gcsan to properly validate the theme
}
.kg-bookmark-card {
    width: 100%;
    position: relative;
}

.kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    color: currentColor;
    font-family: inherit;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
    text-decoration: none;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    padding: 20px;
    order: 1;
}

.kg-bookmark-title {
    font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
    margin-top: .5em;
}

.kg-bookmark-metadata {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kg-bookmark-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.kg-bookmark-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    margin-right: .5em;
    margin-bottom: .05em;
}

.kg-bookmark-thumbnail {
    display: flex;
    flex-basis: 24rem;
    flex-grow: 1;
}

.kg-bookmark-thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

.kg-bookmark-author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.kg-bookmark-publisher::before {
    content: "•";
    margin: 0 .5em;
}
