{{!< default}}
{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}
<div class="container">

    <div class="row">
        <div class="col-md-12" role="main">
            <div class="docs-box">
                <section class="error-message text-center">
                    <h1 class="error-code">{{code}}</h1>
                    <p class="error-description">{{message}}</p>
                    <a class="error-link" href="{{@blog.url}}">Go to the front page →</a>
                </section>
            </div>
        </div>

    </div>

</div>
